extends ../layout

block title
  | Departments

block content
  .dept-header
    h2
      i.fas.fa-building
      | &nbsp; Department Management
    p.subtitle Manage departments, sub-departments and units used across the system.

  .dept-layout
    //- Add Department Card
    .card.card-add
      .card-header
        i.fas.fa-plus-circle
        h3 Add New Department
      .card-body
        form(action="/departments" method="POST")
          .form-row-inline
            input.form-input(type="text" name="name" placeholder="Department name..." required)
            button.btn.btn-primary(type="submit")
              i.fas.fa-plus
              | &nbsp; Add

    //- Departments List
    each dept in departments
      .dept-card
        .dept-card-header
          .dept-title
            .dept-icon
              i.fas.fa-building
            h3= dept.name
          .dept-actions
            form(action=`/departments/${dept.id}/delete` method="POST" onsubmit="return confirm('Delete this department?')")
              button.btn-icon.btn-delete(type="submit" title="Delete department")
                i.fas.fa-trash

        .dept-card-body
          //- Add sub-department
          .add-sub-row
            form.inline-form(action=`/departments/${dept.id}/subdepartments` method="POST")
              input.form-input.input-sm(type="text" name="name" placeholder="Add sub-department..." required)
              button.btn.btn-sm.btn-secondary(type="submit")
                i.fas.fa-plus
                | &nbsp; Add Sub-dept

          //- Sub-departments
          if dept.subDepartments && dept.subDepartments.length
            .subdept-list
              each sub in dept.subDepartments
                .subdept-item
                  .subdept-header
                    .subdept-name
                      i.fas.fa-chevron-right
                      span= sub.name
                      span.staff-count= (sub.staffMembers ? sub.staffMembers.length : 0) + ' staff'
                    .subdept-actions
                      form(action=`/departments/subdepartments/${sub.id}/delete` method="POST" style="display:inline" onsubmit="return confirm('Delete sub-department?')")
                        button.btn-icon.btn-delete-sm(type="submit" title="Delete")
                          i.fas.fa-times

                  //- Units (for sub-depts that can have units)
                  .unit-section
                    form.inline-form(action=`/departments/subdepartments/${sub.id}/units` method="POST")
                      input.form-input.input-xs(type="text" name="name" placeholder="Add unit..." required)
                      button.btn.btn-xs.btn-outline(type="submit")
                        i.fas.fa-plus

                    if sub.units && sub.units.length
                      .unit-list
                        each unit in sub.units
                          .unit-tag
                            span= unit.name
                            form(action=`/departments/units/${unit.id}/delete` method="POST" style="display:inline" onsubmit="return confirm('Delete unit?')")
                              button.unit-del(type="submit" title="Delete unit")
                                i.fas.fa-times
          else
            p.no-sub No sub-departments yet. Add one above.
